/*----------------------
General
----------------------*/

*,
*::before,
*::after{margin: 0; padding: 0; box-sizing: border-box;}

:root{
    --color-1: #336BE5;
    --color-2: #19c4b3;
    --color-3: #28436A;
    --color-4: #ECF0F3;
}

body{font-family: 'Source Sans Pro', sans-serif; color: var(--color-3); background-color: var(--color-4); }

h1, h2, h3, h4, h5, h6{ font-family: 'Kanit', sans-serif; background: -webkit-linear-gradient( 45deg, var(--color-1), var(--color-2)  ); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; width: fit-content; text-transform: uppercase; letter-spacing: 1px; margin-block-end: 1rem; }

img{ width: 100%; height: auto;}

p{ font-size: clamp(1rem, 1.2vw, 2rem); line-height: 2; }

a{ text-decoration: none; color: inherit; cursor: pointer; }
button{border: none; background-color: unset;}

section{position: relative; z-index: 10;}
/*----------------------
Helpers
----------------------*/

.container{ width: 86%; margin: 0 auto;}
.container .container{ width: 70%;}

.text--1{ font-size: clamp(2.5rem, 4vw, 6rem);}
.text--2{ font-size: clamp(1.5rem, 2.5vw, 4rem);}
.text--3{ font-size: clamp(1.2rem, 1.8vw, 3rem);}

.neo{border-radius: 2rem; padding: 2.5rem; background: transparent; box-shadow:  4px 4px 20px rgba(40, 67, 106, 0.1), -4px -4px 20px white;}
.neo--inset {box-shadow: inset 4px 4px 20px rgba(40, 67, 106, 0.1), inset -4px -4px 20px white;}

.divider{height: 100vh; border: 1px solid red;;}

@media (max-width: 1200px) {
    .container .container{width: 100%;}
}

/*----------------------
Button
----------------------*/
.buttons{ display: flex; column-gap: 2rem; flex-wrap: wrap;}

.button{display: inline-block; padding: 1rem 1.5rem; box-shadow:  4px 4px 20px rgba(40, 67, 106, 0.1), -4px -4px 20px white; font-family: 'Kanit', sans-serif; text-transform: uppercase; margin-top: 2rem; border-radius: 1rem; cursor: pointer; letter-spacing: 1px;}
.button:hover{box-shadow: inset 4px 4px 20px rgba(40, 67, 106, 0.1), inset -4px -4px 20px white;}

.button--secondary{display: inline-block; padding: 1rem 1.5rem; box-shadow: inset 4px 4px 20px rgba(40, 67, 106, 0.1), inset -4px -4px 20px white; font-family: 'Kanit', sans-serif; text-transform: uppercase; margin-top: 2rem; border-radius: 1rem; cursor: pointer; letter-spacing: 1px;}
.button--secondary:hover{box-shadow: 4px 4px 20px rgba(40, 67, 106, 0.1), -4px -4px 20px white;}


/*----------------------
Panel
----------------------*/
.panel{display: flex; justify-content: space-between; margin: 15vh auto; align-items: center; flex-wrap: wrap;  row-gap: 5vh;}

.panel__text{ width: 50%;}
.panel__text p{font-size: clamp(1rem, 1.6vw, 2rem);}

.panel__media{width: 40%; }

@media (max-width: 1200px) {
    .panel__text{width: 100%;}
    .panel__media{width: 100%; }
}

/*----------------------
Header
----------------------*/
header.panel{margin-top: 5vh;}

@media (min-width: 1200px) {
    
    header{min-height: 100vh; display: flex; align-items: center;}
    header.panel{margin: 0 auto;}
}


/*----------------------
Hero
----------------------*/
.hero{ margin: 15vh auto; text-align: center;}

.hero__text h2{margin-left: auto; margin-right: auto;}
.hero__text p{font-size: clamp(1rem, 1.5vw, 2rem);}


/*----------------------
Cards
----------------------*/
.cards{margin: 15vh auto; display: flex; justify-content: space-between; row-gap: 10vh; flex-wrap: wrap; }

.card{width: 30%; text-align: center; transition: 0.4s;}
.card:hover{box-shadow: inset 4px 4px 20px rgba(40, 67, 106, 0.1), inset -4px -4px 20px white; transform: scale(1.05);}

.card h3{margin-left: auto; margin-right: auto; background: unset; background-clip: unset; -webkit-background-clip: unset; -webkit-text-fill-color: unset; color: var(--color-3);}

@media (max-width: 1200px) {
    .card{width: 40%; text-align: center;}
}

@media (max-width: 600px) {
    .card{width: 100%; text-align: center;}
}



/*----------------------
Testimonials
----------------------*/
.testimonials{margin: 15vh auto; display: flex; justify-content: space-between; align-items: center; position: relative; flex-wrap: wrap; row-gap: 5vh;}

.testimonials__media{width: 35%; z-index: 10; position: relative; max-width: 400px;}
.testimonials__reviews{ width: 50%; display: flex; flex-direction: column; gap: 5vh;position: relative; z-index: 10;}

.testimonials__reviews__item h3{ background: unset; background-clip: unset; -webkit-background-clip: unset; -webkit-text-fill-color: unset; color: var(--color-3);}

.testimonials__icon{ position: absolute;z-index:9; border-radius: 50%; background: var(--color-4); box-shadow:  4px 4px 20px rgba(40, 67, 106, 0.1), -4px -4px 20px rgba(255, 255, 255, 0.103); display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; animation: fade 3s ease-out infinite; opacity: 0; max-width: 0; max-height: 0;}
.testimonials__icon img{width: 40%}

.testimonials__icon:nth-child(1){top: 20%; left: 0; animation-delay: 0s; }
.testimonials__icon:nth-child(2){top: 30%; left: 10%; animation-delay: 1.8s;}
.testimonials__icon:nth-child(3){top: 50%; left: 90%; animation-delay: 2.5s;}
.testimonials__icon:nth-child(4){top: 60%; left: 15%; animation-delay: 3.2s;}
.testimonials__icon:nth-child(5){top: 80%; left: 80%; animation-delay: 1.2s;}
.testimonials__icon:nth-child(6){top: 90%; left: 100%; animation-delay: 2.8s; }


@keyframes fade {
    0%, 100%{ max-width: 0; max-height: 0;}
    5%{opacity: 1; max-width: 80px; max-height: 80px;}
    50%{transform: translateY(-10vh); max-width: 80px; max-height: 80px; }
    60%{ opacity: 0;}
    70%{max-width: 80px; max-height: 80px; opacity: 0;}
}


@media (max-width: 1200px) {
    .testimonials__media{width: 80%; margin-left: auto; margin-right: auto;}
    .testimonials__reviews{ width: 100%;}

    .testimonials__icon{width: 50px;  height: 50px;}
}



/*----------------------
Form
----------------------*/
.form{margin: 15vh auto; padding: 5rem 2.5rem !important;}

.form__field{position: relative; margin-top: 2rem;;}
.form__field label{position: absolute; top: 50%; left: 0.75rem; padding: 0.75rem; font-size: 1rem; transform: translateY(-50%); transition: 0.4s; }

.form__field input:not(:placeholder-shown) ~ label {top: 0; border-radius: 0.5rem; padding: 0.5rem; background: transparent; box-shadow:  inset 4px 4px 20px rgba(40, 67, 106, 0.1), inset -4px -4px 20px white; font-size: 0.7rem;}


.form input:not([type=submit]),
.form textarea{display: block; width: 100%; margin-top: 2rem; outline: none; border: none; font-size: 1rem; font-family: 'Source Sans Pro', sans-serif; color: var(--color-3); padding: 1.5rem;}

.form input::placeholder{opacity: 0;}
.form textarea::placeholder{color: var(--color-3);}
.form__checkbox {display: flex; align-items: center; margin-top: 2rem;}

.form__checkbox__input{margin-top: 0 !important; width: unset !important; transform-origin: left; transform: scale(1.5); cursor: pointer; }
.form__checkbox__label{display: block; margin-left: 2rem;}
.form__checkbox__label a{ color: var(--color-1);}
.form .hp{display: none !important;}

.form input[type=submit]{ outline: none; border: none; margin-top: 4rem; margin-left: auto; margin-right: auto; cursor: pointer; color: var(--color-3); background-color: unset; }

@media (max-width: 1200px) {

    .form{ padding: 2.5rem;}

}


/* Popup
------------------------------------------------------------------------- */
.popup{ width: 100vw; height: 100vh; background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; z-index: 1000; display: none; opacity: 0; transition: 0.4s;}
.popup--active{ display: block; opacity: 1;}

.popup__text{ position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); flex-direction: column; text-align: center; flex-wrap: wrap; justify-content: space-between; max-width: 600px; display: flex; background: var(--color-4);}
.popup__text h2{ width: 100%;}
.popup__text button{margin: 0 auto;}

.arc:before { animation: spin 0.5s infinite linear; border-radius: 100%; border-top: 6px solid var(--color-1); content: ''; display: block; height: 50px; width: 50px; margin: 2rem auto;}

@keyframes spin {
to { transform: rotate(360deg); } 
}


/* Footer
------------------------------------------------------------------------- */
.footer{ margin: 15vh 0 0;  position: relative; z-index: 100; background-color: var(--color-4); }
.footer .container{display: flex; flex-direction: column; row-gap: 5rem; padding: 5rem 0;}
.footer a{display: inline-block; transition: 0.4s;}
.footer a:hover{transform: scale(1.05);}

.footer__header{display: flex; flex-direction: column; gap: 0.5rem;}
.footer__header p{font-size: 2rem; font-weight: 600;}
.footer__header__logo{ width: 50%;}
.footer__header__contact{ font-weight: bold; display: flex; gap: 1rem 2rem; flex-wrap: wrap;}
.footer__header__contact a{ font-size: 1.3rem;;}
.footer__header__contact a i{margin-right: 0.5rem;}

.footer__body{display: flex; flex-wrap: wrap; justify-content: space-between; margin: 5rem 0; row-gap: 2.5rem;}
.footer__body h3{background: unset; background-clip: unset; -webkit-background-clip: unset; -webkit-text-fill-color: unset; color: var(--color-3); margin-block-end: 0.5rem;}
.footer__body p{font-size: 1rem;}


.footer__credits{display: flex; justify-content: space-between; align-items: center; font-weight: bold; font-family: 'Kanit', sans-serif; letter-spacing: 1px; flex-wrap: wrap; gap: 1rem; font-size: 0.9rem; }

.footer__credits__item{display: flex; gap: 1rem; justify-content: flex-end; text-align: right; width: 100%;  }
.footer__credits a i {font-size: 1.8rem;}


@media (max-width: 1200px) {
    .footer .container{padding: 2.5rem 0;}
    .footer__header__logo{ width: 100%; max-width: 500px;}
    .footer__credits__item{width: 100%;}
    .footer__header__contact a{display: block;}
}


/* Floating
------------------------------------------------------------------------- */
.floating{position: fixed; bottom: 5%; right: 7%;  background: var(--color-4); z-index: 99; transition: 0.4s;  min-width: 250px; }
.floating:hover{transform: scale(1.05);}

.floating i{font-size: 1.5rem;  margin-right: 1rem;}
.floating:hover i{ color: #25D366;}

@media (max-width: 600px) {
    .floating{ bottom: 2%; right: 50%; transform: translateX(50%); }
    .floating:hover{transform: translateX(50%) scale(1.05);}
}